<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tune Score | Login</title>
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">   
</head>
    
<body class="login-body">
    <header class="index-heading" id="index-heading">
        <div id="index-heading-left"></div>
        <div id="index-heading-right"></div>
    </header>

    <main class="container">
        <form action="/login" method="POST" class="form " id="login" onsubmit="return verifyLogin(event)">
            <h1 class="form__title">Login</h1>
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="form__message form__message-{{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
            {% endwith %}
            <p id="errorText"  class="errorText"></p>

            <div class="form__input-group">
                <input type="text" class="form__input" id="username" name="username" autofocus autocomplete="on" placeholder="Username" required>
            </div>
            <div class="form__input-group">
                <input type="password" class="form__input" id="password" name="password" autocomplete="on" placeholder="Password" required>
            </div>

            <button class="form__button" type="submit">Log in</button>

            <p class="form__text">
                <a href="{{ url_for('forgot_password') }}" class="form__link">Forgot your password?</a>
            </p>
            
            <p class="form__text">
                <a href="{{ url_for('signup') }}" class="form__link">Create account</a>
            </p>
        </form>
    </main>
  
    <script src="{{ url_for('static', filename='script.js') }}"></script> 
</body>
</html>
