<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tune Score | Search</title>
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> 
</head>

<body>
    <header class="index-heading" id="index-heading">
        <div id="index-heading-left"></div>
        <div id="index-heading-right"></div>
    </header>

   

    <main id="search-container">
        <h1> Search results for {{ query }}</h1>
        <table id="search-result-table">
            <thead>
                <tr>
                    <th class="index-score-th">Artist</th>
                    <th class="index-score-th">Song</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

    </main>
        
    <footer></footer>
    <input id="query" value="{{ query }}" type="hidden">
    <script src="{{ url_for('static', filename='script.js') }}"></script> 
</body>
</html>
